# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lesson-2final.zip
src/pages/shop/shop.data.js
src/assets/Blond-jeans.jpg
src/assets/sideboob.jpg
.eslintrc.json
src/assets/jeans.jpg
src/assets/underboob.jpg
src/assets/hat.jpg
src/assets/shop-img/hats/blue-beanie.png
src/assets/shop-img/hats/blue-snapback.png
src/assets/shop-img/hats/brown-brim.png
src/assets/shop-img/hats/brown-cowboy.png
src/assets/shop-img/hats/cowboy-hat.jpg
src/assets/shop-img/hats/green-beanie.png
src/assets/shop-img/hats/grey-brim.png
src/assets/shop-img/hats/palm-tree-cap.png
src/assets/shop-img/hats/red-beanie.png
src/assets/shop-img/hats/wolf-cap.png
src/assets/shop-img/jackets/black-shearling.png
src/assets/shop-img/jackets/blue-jean-jacket.png
src/assets/shop-img/jackets/brown-shearling.png
src/assets/shop-img/jackets/brown-trench.png
src/assets/shop-img/jackets/denim-vest.png
src/assets/shop-img/jackets/grey-jean-jacket.png
src/assets/shop-img/jackets/leather-jacket.jpg
src/assets/shop-img/mens/camo-vest.png
src/assets/shop-img/mens/floral-shirt.png
src/assets/shop-img/mens/long-sleeve.png
src/assets/shop-img/mens/pink-shirt.png
src/assets/shop-img/mens/polka-dot-shirt.png
src/assets/shop-img/mens/roll-up-jean-shirt.png
src/assets/shop-img/sneakers/adidas-nmd.png
src/assets/shop-img/sneakers/black-converse.png
src/assets/shop-img/sneakers/nike-brown.png
src/assets/shop-img/sneakers/nike-funky.png
src/assets/shop-img/sneakers/nikes-red.png
src/assets/shop-img/sneakers/timberlands.png
src/assets/shop-img/sneakers/white-nike-high-tops.png
src/assets/shop-img/sneakers/yeezy.png
src/assets/shop-img/womens/blue-tank.png
src/assets/shop-img/womens/floral-blouse.png
src/assets/shop-img/womens/floral-skirt.png
src/assets/shop-img/womens/overalls.jpg
src/assets/shop-img/womens/red-polka-dot-dress.png
src/assets/shop-img/womens/striped-sweater.png
src/assets/shop-img/womens/underboob.webp
src/assets/shop-img/womens/white-vest.png
src/assets/shop-img/womens/yellow-track-suit.png
