# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lesson-2final.zip
src/pages/shop/shop.data.js
src/assets/Blond-jeans.jpg
src/assets/sideboob.jpg
.eslintrc.json
src/assets/jeans.jpg
src/assets/underboob.jpg
