.sign-in-sign-up {
  width: 85rem;
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;

  & .sign-in, & .sign-up {
    width: 38rem;
    display: flex;
    flex-direction: column;
  
    .title {
      margin: 10px 0;
    }
  
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 22rem;
    }
  
    & h2{
      font-size: 2.5rem;
      & strong{font-weight: 700;}
    }
    & span{
      font-size: 1.8rem;
    }
  }
}
