.header {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  & a {
    text-decoration: none;
    color: black;    
  }
  .logo-container {
    height: 100%;
    width: 7rem;
    padding: 2.5rem;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;

    .option {
      padding: 1rem 1.5rem;
    }
  }
}
